body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 70vw;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.title {
    padding: 2em;
    flex: 1;
}

.gif {
    flex: 1;
}

@media  (max-width: 800px) {
    .main {
        width: 100vw;
        flex-direction: row;
        align-items: start;
    }
    .title {
        padding: 0.5em;
    }

    .gif {
        width: 100%;
    }
}